.button__wrapper {
  display: grid;
  grid-template-columns: min-content;
  z-index: 20;
  position: relative;
}

.button {
  width: 5.5rem;
  height: 5.5rem;
  background-color: $color-btn-bg;
  border-radius: 50%;
  color: $color-btn-text;
  @include font(1.8rem, 188%, 700);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  @include media-tablet {
    width: 4.5rem;
    height: 4.5rem;
  }
  &:hover {
    background-color: $color-btn-bg-hover;
  }
}

.button-title {
  color: $color-btn-title;
  @include font(1.6rem, 188%, 400);
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: start;
  margin-left: 1rem;
  @include media-tablet {
    @include font(1.5rem, 200%, 400);
    margin-left: 1.5rem;
  }
}