// HEADER
$color-header-bg: #ffffff;
$color-header-navigation-item: #292D32;
$color-header-user-icons-bg: #F9F9F9;
$color-header-notification-bg: #48A4EB;
$color-header-notification-text: #ffffff;
// SECTIONS
$color-section-bg-dark: #F2F2F2;
// main section
$color-main-subtitle: #838383;
$color-main-title: #292D32;
// catalog section
$color-catalog-item-bg: #F2F2F2;
$color-catalog-title: #292D32;
$color-catalog-subtitle: #838383;
$color-catalog-id-text: #292D32;
// BUTTON
$color-btn-bg: #33A9FF;
$color-btn-text: #FFF;
$color-btn-title: #292D32;

// SLIDER
$color-slider-pagination-active: #292D32;
$color-slider-pagination: #D0D0D0;