.header {
  background: $color-header-bg;
  position: relative;
}

.header__wrapper {
  display: flex;
  width: 100%;
  padding: 2.7rem 0;
}

.header__logo {
  width: 7rem;
  height: 7rem;
  background-image: url('../assets/img/Dell_Logo.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// NAVIGATION

.header__navigation {
  margin: 0 0 0 6rem;
  padding: 2.5rem 0;
}

.navigation {
  display: flex;
}

.navigation__item {
  margin-right: 4.5rem;
  &:last-child {
    margin-right: 0
  }
}

.navigation__link {
  @include font(1.5rem, normal);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  color: $color-header-navigation-item;
  &:hover {
    color: $color-header-navigation-item-hover;
  }
}

// SEARCH

.search__block {
  display: flex;
  justify-content: center;
  margin: auto 5rem;
}

.search__icon {
  background-image: url('../assets/img/search-icon.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1.9rem;
  height: 1.9rem;
}

// USERS ICONS

.user__block {
  display: flex;
  width: inherit;
  max-width: 61.8rem;
  justify-content: end;
}

.user__icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: $color-header-user-icons-bg;
  margin: auto 0;
  margin-left: 2.85rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-header-user-icons-bg-hover;
  }
  &:first-child {
    margin-left: 0;
  }
  &_profile {
    background-image: url('../assets/img/profile-icon.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
  }
  &_connection {
    background-image: url('../assets/img/connection-icon.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
  }
  &_favorite {
    background-image: url('../assets/img/favorite-icon.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
  }
  &_shopping-bag {
    background-image: url('../assets/img/clarity_shopping-bag-line.svg');
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 50% 50%;
    position: relative;
  }
}

.user__notification {
  background-color: $color-header-notification-bg;
  border-radius: 50%;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  @include font(1.2rem, 1.7rem, 700);
  text-align: center;
  color: $color-header-notification-text;
  position: absolute;
  top: 0;
  right: 0;
}

// MEDIA

@include media-tablet {
  .header__wrapper {
    * {
      z-index: 30;
    }
  }
  .user__icon_connection, .user__icon_favorite {
    display: none;
  }
  .header__wrapper {
    padding: 1rem 1.2rem !important;
    justify-content: space-between;
  }
  .header__logo {
    width: 6rem;
  }
  .search__block {
    margin: auto 0;
    margin-left: 6rem;
  }
  .user__block {
    width: auto;
    margin-left: 3rem;
  }
  .user__icon {
    margin-left: 0;
    &:nth-child(4) {
      margin-left: 1rem;
    }
    &:nth-child(5) {
      display: flex;
    }
  }
}

// HAMBURGER MENU

@include media-tablet {
  .header__navigation {
    display: flex !important;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 48rem;
    transform: translate(0, -100%);
    z-index: 20;
    background: $color-header-bg;
    transition: all 0.9s ease 0s;
    padding: 0 0 0 3.3rem;
    &._active {
        transform: translate(0px, 0px);
    }
    .navigation__item {
        margin: 4.3rem 0 0 0 ;
        padding: 0;
        width: fit-content;
    }
    .navigation {
        flex-direction: column;
        align-items: center;
        margin-top: 10.5rem;
    }
    .navigation__link {
        font-size: 1.5rem;
    }
  }
}

.menu__bg {
  @include media-tablet {
    position: fixed;
    transition: 0.3s all ease-in-out 0.3s;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 1000vw;
    pointer-events: none;
    z-index: 10;
    &._active {
        pointer-events: all;
        opacity: 1;
        background: rgba(63, 63, 63, 0.50);
        transition: 0.3s all ease-in-out 0.3s;
    }
  }
}